<div class="site">

  <%= render partial: 'layouts/header' %>

  <div class="site__content">

    <!-- tvShow -->
    <div class="tvShow">

      <h1 class="tvShow__date"><%= @programs[ 'date' ] %></h1>

      <div class="tvShow__list">

        <% @programs['programs'].each do |program| %>

            <div class="tvShow__item ">
              <strong class="tvShow__item-time"><%= program[ 'realtime_begin' ] %></strong>

              <img src="uploads/<%= program['image']['preview'] %>" alt="" class="tvShow__item-thumbnail">
              <div class="tvShow__item-description">
                <span class="tvShow__item-title"><%= program[ 'title' ] %></span>
                <span class="tvShow__item-subtitle"><%= program[ 'subtitle' ] %></span>
              </div>
            </div>
        <% end %>

      </div>

    </div>
    <!-- /tvShow -->

  </div>


  <%= render partial: 'layouts/footer' %>

  <!-- site__top -->
  <button class="site__top"></button>
  <!-- /site__top -->


</div>