<h1 class="tvShow__date"><%= @programs[ 'date' ] %></h1>

<div class="tvShow__list">

  <% @programs['programs'].each do |program| %>

      <div class="tvShow__item ">
        <%= image_tag( program['image']['preview'], class: 'tvShow__item-thumbnail' ) %>
        <div class="tvShow__item-description">
          <strong class="tvShow__item-time"><%= program[ 'realtime_begin' ] %></strong>
          <span class="tvShow__item-title"><%= program[ 'title' ] %></span>
          <span class="tvShow__item-subtitle"><%= program[ 'subtitle' ] %></span>
        </div>
      </div>
  <% end %>

</div>